.noticias{
    //background-color: beige;
    //padding: 10px;
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.noticia{

    padding: 1em;
    background-color: #ffffff;
    border-color: #fffefe;
    border-style: solid;
    border-width: 2px;
    filter: drop-shadow(3px 3px 4px #c8c8c8);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: stretch;
    margin-bottom: 5px;
    flex: auto;
    width: 25%;
    margin-right: 10px;
    border-radius: 0px 0px 20px 0px;
    
}
//elementos principales
.noticia .origen-feed{
    font-family: 'titulo-idea';
    padding: 5px;
    background-color: #b792ce;
    color: whitesmoke;
    font-size: 1em;
    margin-bottom: 10px;
    border-radius: 0px 0px 10px 0px;


}
.noticia .titulo{
    padding: 5px;
    font-family: 'titulo-idea';
    font-size: 1.2em;
    line-height: 1.1em;
    padding-bottom: 1em;
}
.descripcion{
    display: flex;
    flex-direction: row;
}
.footer{
    flex: 10;
    display: flex;
    // flex-flow: column;
    flex-direction: column;
    justify-content: flex-end;

}
//=================//
.icono-canal{
    height: 5em;
    padding: 1px;
    width: 5em;
    padding-right: 0.3em;
}
.fuentes-varias{
    font-family: 'titulo-idea';
    padding: 1em;
    padding-bottom: 1em;
    color: #8538b5;
    font-size: 1.5em;
}
.categorias{
    font-family: 'texto-noticias';
    /* padding: 1em; */
    padding-bottom: 0.3em;
    color: #b792ce;
    font-size: 0.7em;
    // flex: 1;
    /* margin-bottom: 1em; */
}
.noticia .ordinal{
    background-color: #916fa7;
    font-size: 0.9em;
    padding: 0.2em;
}

.texto_origen_feed{
    
    font-size: 1.1em;
    color: white;
    padding-left: 0.4em;
}
.texto_origen_feed .autor{
    font-size: 0.6em;
    /* display: block; */
    color: #ded8e2;
}


.fecha_noticia {
    font-family: 'fecha-noticias';
    font-size: 0.7em;
    margin-top: 10px;
    color: #7e7e7e;
    // flex: 1;
    /* margin-bottom: 10px; */
    padding: 1em;
    text-align: right;
    }
.texto-html{
    font-family: 'texto-noticias';
    font-size: 0.8em;
    color: #5a5a5a;

}
img{
    width: 100%;
    height: inherit;
    margin-bottom: 10px;
    border-radius: 5px;
    //filter: grayscale(70%);
}
li{
    list-style-type: none;
}
.reproductor{
    padding: 1px;
}
audio{

    width: 100%;
    height: 35px;
    filter: sepia(60%) contrast(85%) invert(4%);
}

